<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    {% assign news_scrollable = include.scrollable | default: page.announcements.scrollable %}
    {% if include.limit and page.announcements.limit %}
      {% assign news_limit = page.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    <div
      class="table-responsive"
      {% if news_scrollable and news_limit > 3 %}
        style="max-height: {% if include.limit %}18rem{% else %}60vw{% endif %}; overflow-y: auto"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign news = site.news | reverse %}
        {% for item in news limit: news_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
